<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RT Identification</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body class="identification">
    <div class="container">
        <header>
            <h1>RT Identification</h1>
        </header>
        <div id="webcam-box">
            <video id="webcam" autoplay></video>
        </div>
        <div id="text-box" class="text-box">Loading...</div>
        <div class="buttons">
            <button onclick="window.location.href='/'">RT Emotion Detection</button>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>



